<div class="top-bar">
  <div class="top-bar-title">
    <strong>
      <%= link_to Rails.configuration.application_name, root_path %>
    </strong>
  </div>
  <div>
    <div class="top-bar-right">
      
  <ul class="menu align-right">
    <li>
      <%= link_to 'Projects', projects_url  %>
    </li>

    <% if user_signed_in? %>
        <% if current_user.has_role? :user %>
          <li><%= link_to 'user dashboard', secure_pages_user_dashboard_path %>
        <% end %>
        <% if current_user.has_role? :admin %>
          <li><%= link_to 'admin dashboard', secure_pages_admin_dashboard_path %>
        <% end %>
        <li><%= link_to 'common dashboard', secure_pages_common_dashboard_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
  </ul>
    </div>
  </div>
</div> 

